name: delineate

services:
  delineate-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod
      network: host
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    environment:
      - NODE_ENV=production
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    restart: unless-stopped
